.myfooter{
   position: bottom;
   width: 100%;
   height: 5cm;
   background-color: #212529;
   color: white;
}

.myfooter-with-left-sidebar{
    position: bottom;
    width: 100%;
    background-color: #212529;
    color: white;
    height: 5cm;
}

@media (min-width:992px){
    .myfooter-with-left-sidebar{
        margin-left:25%;
        width:75%;
    }
}